body {

}
.mainContent {
  height: 100%;
}
#name_wrapper {
  position: absolute;
  top:50%;
  width: 80%;
  margin-left:10%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
#name {
  font-size:50px;
}

@media only screen and (max-width:610px){
  #name {
    font-size:30px;
  }
}